.padding {
  padding: 7px 1px;
}

.save-btn {
  text-transform: none!important;
  color: #56FF7B;
  border: 1px solid;
  border-radius: 3px;
}

.card-title {
  font-size: 20px;
  color: #ffffff;
}

.title-head {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}

.card-head {
  font-size: 14px; 
  font-weight: 400;
  text-align: left;
  color: #f3f3f3;
}
