.padding {
  padding: 7px 1px;
}

.save-btn {
  text-transform: none!important;
  // color: #56FF7B;
  color: #FAFF00;
  border: 1px solid;
  border-radius: 3px;
  background: rgba(250, 255, 0, 0.05);
}

.card-title {
  font-size: 20px;
  color: #ffffff;
  font-family: Merriweather;
}

.title-head {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
}

.card-head {
  font-size: 14px; 
  font-weight: 400;
  text-align: left;
  color: #f3f3f3;
}

.slides {
  height: 100% !important;
}

.chip {
  border: 0.3px solid rgba(243, 243, 243, 0.5);
  font-size: 12px;
}
