<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <div class="container">
    <div class="ion-margin-horizontal">
      <span class="card-title">Your Interest</span>
    </div>
    <ion-slides [options]="verticalSlider">
      <ion-slide class="slides" *ngFor="let post of posts">
        <!-- <div> -->
        <ion-card  class="ion-margin">
          <ion-img src="{{post.siteImage}}"></ion-img>
          <ion-card-header>
            <ion-row class="chip-container">
              <ion-chip color="primary-contrast" class="chip" *ngFor="let chip of post.tagDtos">
                <ion-label>{{chip.title}}</ion-label>
              </ion-chip>
            </ion-row>
            <ion-card-title class="card-head">{{post.siteTitle}}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-content">
              {{post.siteDescription}}
          </ion-card-content>
          <ion-footer>
            <ion-row>
              <div class="padding">
                <ion-col >
                  <ion-icon src="../../assets/icon/like.svg"></ion-icon>
                </ion-col>
              </div>
              <div class="padding">
                <ion-col>
                  <ion-icon src="../../assets/icon/upload.svg"></ion-icon>
                </ion-col>
              </div>
              <ion-col></ion-col>
              <div>
                <ion-col>
                  <ion-button size="small" color="primary-contrast" float-right class="save-btn">Save</ion-button>
                </ion-col>
              </div>
            </ion-row>
          </ion-footer>
        </ion-card>
        <!-- </div> -->
      </ion-slide>
    </ion-slides>
  </div>
  
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadMorePosts($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>