<ion-content>
  <div class="login-pad" style="margin: 50px 12px 0 12px;">
    <div text-center>
      <span class="form-head">Reset your password</span>
    </div>

    <form (ngSubmit)="onSubmit()">
      <div style="margin-top: 20px">
        <div style="margin-top:25px; font-family: DM Sans;">
          <ion-label class="form-label">New password</ion-label>
          <div style="margin-top: 10px;">
            <ion-item class="input-field" style="height: 42px;" color="transparent">
              <ion-input type="password" style="padding-bottom: 8px !important;" placeholder="Enter your password" required></ion-input>
              <ion-icon style="width: 17px; height: 16px;padding-bottom: 8px;" src="../../assets/icon/password.svg"></ion-icon>
            </ion-item>
          </div>
        </div>
        <div style="margin-top:25px;">
          <ion-label class="form-label">Re-enter new password</ion-label>
          <div style="margin-top: 10px;">
            <ion-item class="input-field" style="height: 42px;" color="transparent">
              <ion-input type="password" style="padding-bottom: 8px !important;" placeholder="Enter your password" required></ion-input>
              <ion-icon style="width: 17px; height: 16px;padding-bottom: 8px;" src="../../assets/icon/password.svg"></ion-icon>
            </ion-item>
          </div>
        </div>
      </div>

      <div style="margin-top: 25px">
        <ion-button color="primary-contrast" type="onSubmit" class="continue-btn" expand="block">RESET PASSWORD</ion-button>
      </div>
    </form>
  </div>
</ion-content>
  