.form-head {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.01em;
  font-family: 'Merriweather';
}

.input-item {
  border: 0.5px solid rgba(183, 183, 183, 0.5);
  border-radius: 6px;
  height: 42px;
  font-size: 13px;
  letter-spacing: -0.02em;
  margin-top: 10px;
  ion-icon {
    width: 17px;
    height: 16px;
    padding-bottom: 8px;
  }
}

.input-field {
  padding-bottom: 10px !important;
}

.form-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #F3F3F3;
  padding-top: 5px;
}

.continue-btn {
  height: 46px; 
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: -0.01em;
  background: linear-gradient(90.79deg, rgba(250, 10, 250, 0.25) 0%, rgba(77, 192, 255, 0.25) 54.88%, rgba(251, 255, 22, 0.25) 106.44%);
  border-radius: 6px;
}

.login-pad {
  padding-top: 50px;
}
