.searchbar {
  text-align: center;
  padding: 0%;
}

.searchbar ion-icon {
  right: 16px !important;
  left: auto !important;
  padding:6px; 
}

.wider-modal {
  --backdrop-opacity: 0.8 !important;
  .modal-wrapper {
    --height: 40% !important;
    position: absolute;
  } 
}

.arrow-icon {
  padding-top: 6px;
}

.category-menu {
  color: #ffffff;
}

.menu-btn {
  color: #ffffff;
}

.label-category {
  font-size: 10px;
}

ion-toolbar {
  --background: #100d1f;
  ion-row {
    display:flex;
    justify-content: space-between;
    align-items: center;

    ion-icon {
      width: 20px;
      height: 20px;
    }
  }
}