<ion-toolbar class="title-toolbar" *ngIf="!isCategory && !isSubCategory">
  <ion-row>
    <ion-col size-xs="9.5" class="ion-padding-horizontal">
      <ion-searchbar type="text" class="searchbar" (ionChange)="getItem($event)"></ion-searchbar>
    </ion-col>
    <ion-col size="1" class="ion-no-padding" style="padding: 5px;" *ngIf="userDetail.role.name === 'ROLE_ADMIN'">
      <ion-icon (click)="openSheet()" src="../../assets/icon/add.svg"></ion-icon>
    </ion-col>
    <ion-col size="1.5" class="ion-no-padding">
      <ion-menu-button class="menu-btn" menuToggle="right" (click)="toggleMenu($event)"></ion-menu-button>
    </ion-col>
  </ion-row>
</ion-toolbar>

<ion-toolbar class="title-toolbar" *ngIf="isCategory">
  <ion-row>
    <ion-col size-xs="1" class="ion-padding-horizontal">
      <ion-icon class="arrow-icon" name="chevron-back-outline" (click)="navigateBack();"></ion-icon>
    </ion-col>
    <ion-col size="9" class="ion-no-padding">
      <span>{{category}}</span>
    </ion-col>
    <ion-col size="1.5" class="ion-no-padding">
        <ion-menu-button menuToggle="right" class="category-menu" (click)="toggleMenu($event)"></ion-menu-button>
    </ion-col>
  </ion-row>
</ion-toolbar>

<ion-toolbar class="title-toolbar" *ngIf="isSubCategory">
  <ion-row>
    <ion-col size-xs="1" class="ion-padding-horizontal">
      <ion-icon class="arrow-icon" name="chevron-back-outline" (click)="navigateBack();"></ion-icon>
    </ion-col>
    <ion-col size="9" class="ion-no-padding">
      <ion-label class="label-category">{{category}}</ion-label><br>
      <ion-label>{{subCategory}}</ion-label>
    </ion-col>
    <ion-col size="1.5" class="ion-no-padding">
        <ion-menu-button menuToggle="right" class="category-menu" (click)="toggleMenu($event)"></ion-menu-button>
    </ion-col>
  </ion-row>
</ion-toolbar>