<ion-header>
  <ion-toolbar>
    <ion-icon name="chevron-forward-outline" slot="start" [routerLink]="['/home/account']"></ion-icon>
    <ion-title class="account-title">PERSONAL DETAILS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="ion-padding" [formGroup]="user" (ngSubmit)="changePassword()">
    <div>
      <ion-label class="label">USERNAME</ion-label>
      <ion-item class="input-item" color="transparent">
        <ion-input type="text" class="input-field" formControlName="username" disabled></ion-input>
      </ion-item>
    </div>

    <div class="ion-padding-vertical">
      <ion-label class="label">EMAIL</ion-label>
      <ion-item class="input-item" color="transparent">
        <ion-input type="text"class="input-field" formControlName="username" disabled></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-label class="label">PASSWORD</ion-label>
      <ion-item class="input-item" color="transparent">
        <ion-input type="password" placeholder="Enter old password" formControlName="oldPassword" class="input-field"></ion-input>
      </ion-item>
      <ion-item class="input-item" color="transparent">
        <ion-input type="password" placeholder="Enter new password" formControlName="newPassword" class="input-field"></ion-input>
      </ion-item>
    </div>

    <div>
      <ion-button color="primary-contrast" expand="block" class="change-button" type="onSubmit">CHANGE PASSWORD</ion-button>
    </div>
  </form>
</ion-content>
