.account-btn {
  font-size: 15px;
  letter-spacing: -0.01em;
  font-weight: bold;
  height: 46px;
  color: #ffffff;
  background: linear-gradient(90.79deg, rgba(250, 10, 250, 0.25) 0%, rgba(77, 192, 255, 0.25) 54.88%, rgba(251, 255, 22, 0.25) 106.44%);
  border-radius: 6px;
  margin: 0 16px;
}

.login-btn {
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  height: 46px;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: -0.01em;
  font-weight: bold;
  margin: 0 16px;
}