.account-btn {
  font-size: 15px;
  letter-spacing: -0.01em;
  font-weight: bold;
  height: 46px;
  color: #100D1F;
  background: #56FF7B;
  border-radius: 6px;
  margin: 0 16px;
}

.login-btn {
  border: 1px solid #56FF7B;
  border-radius: 6px;
  height: 46px;
  color: #56FF7B;
  letter-spacing: -0.01em;
  font-weight: bold;
  margin: 0 16px;
}