.account-btn {
  font-size: 15px;
  letter-spacing: -0.01em;
  font-weight: bold;
  height: 46px;
  background:var(--ion-button-primary);
  border-radius: 6px;
  border: 1px solid;
  border-image-source: var(--ion-button-bordercolor);
}

.login-btn {
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  height: 46px;
  letter-spacing: -0.01em;
  font-weight: bold;
}

ion-content {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    .login-top-container {
      display: flex;
      align-items: flex-end;
      height: 50%;
  
      ion-img {
        width: 100px;
        margin: auto;
      }

      ion-img::part(image) {
        border-radius: 50%;
      }

      .header {
        font-family: 'Merriweather';
        font-weight: bold;
        font-size: 20px;
        margin-top: 5px;
      }

      .content {
        color: rgba(243, 243, 243, 0.8);
        font-size: 13px;
      }
    }
  
    // .login-bottom-container {
  
    // }
  } 
  }