<ion-content>
  <div style="text-align: center;margin-top: 150px;">
    <div>
      <ion-avatar style="margin: 0 155px;">
        <ion-img src="../../assets/icon/swim.png"></ion-img>
      </ion-avatar>
      <ion-title style="font-weight: bold; font-size: 20px; margin-top: 15px;">Welcome to Authsource</ion-title>
      <span style="font-size: 13px">Discover great content on triathlon</span>
    </div>
    <div style="margin-top: 230px; margin-bottom: 10px;">
      <ion-button expand="block" color="primary-contrast" class="login-btn">LOG IN</ion-button>
    </div>
    <div>
      <ion-button expand="block" color="primary-contrast" class="account-btn" >CREATE ACCOUNT</ion-button>
    </div>
  </div>
</ion-content>
