.arrow-icon {
  transform: rotate(180deg);
  margin-left: 16px;
  margin-top: 18px;
}

.header-title {
  padding: 0px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  font-family: Merriweather;
}

.title-head {
  display: flex;
  justify-content: space-between;
  margin: 0px 16px;
}

.card-head {
  font-size: 14px; 
  font-weight: 400;
  text-align: left;
  color: #f3f3f3;
}

.padding {
  padding: 7px 1px;
}

.save-btn {
  text-transform: none!important;
  color: #FAFF00;
  border: 1px solid;
  border-radius: 3px;
  background: rgba(250, 255, 0, 0.05);
}