<ion-header>
  <ion-toolbar>
    <div style="display: flex">
      <ion-icon slot="start" name="chevron-forward-outline" class="arrow-icon" [routerLink]="['/home/explore']"></ion-icon>
      <ion-title class="header-title" style="font-size: 14px;">{{category}}</ion-title>
      <ion-menu-button menuToggle="right" (click)="toggleMenu($event)"></ion-menu-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="title-head">
      <span class="card-title">Your Interest</span>
    </div>
    <ion-slides [options]="verticalSlider">
      <ion-slide class="slides" *ngFor="let post of posts">
        <div>
        <ion-card style="background: #201C30;width: 343px;">
          <ion-img src="{{post.siteImage}}" style="height: 188px;object-fit: fill;"></ion-img>
          <ion-card-header>
            <div style="display: flex">
              <ion-chip color="primary-contrast" class="chip" *ngFor="let chip of post.tagDtos">
                <ion-label>{{chip.title}}</ion-label>
              </ion-chip>
            </div>
            <ion-card-title class="card-head">{{post.siteTitle}}</ion-card-title>
          </ion-card-header>
          <ion-card-content style="font-size: 13px; text-align:left;">
              {{post.siteDescription}}
          </ion-card-content>
          <ion-footer>
            <ion-row>
              <div class="padding">
                <ion-col >
                  <ion-icon src="../../assets/icon/like.svg"></ion-icon>
                </ion-col>
              </div>
              <div class="padding">
                <ion-col>
                  <ion-icon src="../../assets/icon/upload.svg"></ion-icon>
                </ion-col>
              </div>
              <ion-col></ion-col>
              <div>
                <ion-col>
                  <ion-button size="small" color="primary-contrast" float-right class="save-btn">Save</ion-button>
                </ion-col>
              </div>
            </ion-row>
          </ion-footer>
        </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
