<ion-header>
  <app-header></app-header>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore">
      <ion-img src="../../assets/icon/compass.png"></ion-img>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-img src="../../assets/icon/page.png"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-img src="../../assets/icon/vector.png"></ion-img>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
