<ion-content>
    <div class="login-pad ion-padding">
      <div>
        <span class="form-head">Verify your email</span>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="ion-margin-vertical">
          <div>
            <div class="span-content">
              <span>We have sent 4-digit OTP to  your email {{email}}</span>
            </div>
            <div>
              <ion-label class="form-label">Enter OTP</ion-label>
              <span class="form-phoneLink">Resend OTP after 30 sec</span>
            </div>
  
            <div>
              <ion-input class="input-field ion-padding-horizontal" type="text" formControlName="otp" placeholder="Enter OTP" aria-hidden="true" required></ion-input>
            </div>
          </div>
        </div>
  
        <div class="ion-margin-top">
          <ion-button color="primary-contrast" type="onSubmit" class="continue-btn" expand="block">CONTINUE</ion-button>
        </div>
      </form>
    </div>
  </ion-content>
