<ion-content>
    <div class="login-pad" style="margin: 50px 12px 0 12px;">
      <div>
        <span class="form-head">Verify your email</span>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div style="margin-top: 20px;font-family: DM Sans;">
          <div>
            <div class="span-content">
              <span>We have sent 4-digit OTP to  your email (mailId)</span>
            </div>
            <div>
              <ion-label class="form-label">Enter OTP</ion-label>
              <span class="form-phoneLink">Resend OTP after 30 sec</span>
            </div>
  
            <div style="margin-top: 10px;">
              <ion-input class="input-field" type="text" formControlName="otp" placeholder="Enter your email address" aria-hidden="true" required></ion-input>
            </div>
          </div>
        </div>
  
        <div style="margin-top: 25px">
          <ion-button color="primary-contrast" type="onSubmit" class="continue-btn" expand="block">CONTINUE</ion-button>
        </div>
      </form>
    </div>
  </ion-content>
