// ion-item {
//   --background-color: var(white);
// }

.category-title {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  font-family: 'Merriweather';
}

ion-content {
  --background: #201C30;

  ion-list {
    background: transparent;
  }
}

ion-header {
  background: #201C30;
  color: #ffffff;
  height: 50px;

  ion-title {
    text-align: start;
  }
}