.container {
  padding-top: 50px; 

  ion-img {
    // width: 166px;
    height: 117px;
    object-fit: fill;
  }
}
.form-head {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -0.01em;
}

.complete-button {
  background: linear-gradient(90.79deg, rgba(250, 10, 250, 0.25) 0%, rgba(77, 192, 255, 0.25) 54.88%, rgba(251, 255, 22, 0.25) 106.44%);
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: -0.01em;
  height: 46px;
  margin: 0px 16px 0px 16px;
}

.checkbox {
  position: absolute;
  top: 90px;
  right: 8px;
  // --border-color: transparent;
}

.checkbox-label {
  position: absolute;
  top: 90px;
  left: 12px;
  font-size: 14px;
}

ion-checkbox::part(container) {
  background-color: transparent;
  border-radius: 15px;
}
