.post-button {
  font-weight: bold;
  font-size: 15px;
  color: #100D1F;
  letter-spacing: -0.01em;
}

.title-head {
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #F3F3F3;
}

.checkbox {
  // width: 14px;
  // height: 14px;
  padding: 2px;
}

.checkbox-label {
  font-size: 14px;
  letter-spacing: -0.002em;
  color: #B7B7B7;
  padding-left: 5px; 
}

.input-field {
  letter-spacing: -0.02em;
  color: #B7B7B7;
  font-size: 12px;
}

.post-area {
  border: 0.5px solid rgba(183, 183, 183, 0.5);
  border-radius: 6px;
  padding: 12px;
}

.post-button {
  background: #56FF7B;
  margin: 0;
}