.post-button {
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: -0.01em;
  background: var(--ion-button-primary);
  height: 49px;
  border-radius: 6px;
  margin: 0px !important;
}

.title-head {
  font-size: 12px;
  letter-spacing: -0.02em;
  color: #F3F3F3;
}

.checkbox {
  padding: 2px;
}

.checkbox-label {
  font-size: 14px;
  letter-spacing: -0.002em;
  color: #B7B7B7;
  padding-left: 5px; 
}

.input-field {
  letter-spacing: -0.02em;
  color: #B7B7B7;
  font-size: 12px;
  border: 0.5px solid rgba(183, 183, 183, 0.5);
  border-radius: 6px;
}

.post-area {
  border: 0.5px solid rgba(183, 183, 183, 0.5);
  border-radius: 6px;
  padding: 12px;
}

.icon-header {
  position: absolute;
  left: 10px;
}

.input-tags {
  border: 0.5px solid rgba(183, 183, 183, 0.5);
  border-radius: 6px;
  background: transparent;
}

::ng-deep .ng2-tag-input__text-input {
  background: transparent;
  width: 352px;
  color: #B7B7B7;
}

::ng-deep .ng2-tag-input {
  border-bottom: 0px !important;
}

::ng-deep .ng-trigger tag {
  background-color: transparent;
  border: 1px solid;
  color: #B7B7B7;
}

.preview-image {
  width: 50%;
  position: inherit;
  object-fit: fill;
  height: 88px;
}

.post-url {
  color: #B7B7B7;
  text-decoration: none;
  font-size: 10px;
}

.radio-btn {
  padding: 2px 2px;
  top: 3px;
}

.radio-label {
  font-size: 14px;
  padding-left: 6px;
  letter-spacing: -0.002em;
  color: #B7B7B7;
}

ion-toolbar {
  height: 47px;
  ion-title {
    font-size: 14px;
    text-align: center;
    padding-bottom: 8px;
  }
}

ion-content {
  ion-card {
    display: flex;

    ion-card-header {
      padding: 10px;
      height: 88px;
    }
  }

  ion-row {
    ion-col {
      align-items: center;
    }
  }
}