<ion-header>
  <ion-toolbar>
    <ion-icon name="close" slot="start" [routerLink]="['/home/explore']"></ion-icon>
    <ion-title >ADMIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="post" (ngSubmit)="createPost()">
  <div>
    <div>
      <span class="title-head">PREVIEW</span>
    </div>
    <ion-card class="ion-no-margin">
      <ion-img src="{{previewPost?.siteImage}}" class="preview-image" *ngIf="post.value.defaultImage==='URL'"></ion-img>
      <ion-img src="../../assets/images/authSource.png" class="preview-image" *ngIf="post.value.defaultImage!=='URL'"></ion-img>
      <div>
        <ion-card-header class="ion-padding-horizontal">
          <span>{{previewPost?.siteTitle}}</span><br>
          <a class="post-url" href="{{postUrl}}" target="_blank">{{postUrl}}</a>      
        </ion-card-header>
      </div>
    </ion-card>
  </div>

  <div class="ion-padding-top">
    <div>
      <span class="title-head">IMAGE</span>
    </div>
    <div>
      <ion-radio-group formControlName="defaultImage">
        <ion-radio class="radio-btn" name="URL" value="URL" checked="URL"></ion-radio>
        <ion-label class="radio-label">From URL </ion-label>
        &nbsp;&nbsp;&nbsp;
        <ion-radio class="radio-btn" name="defaultImage" value="defaultImage"></ion-radio>
        <ion-label class="radio-label">Default Athsource Image</ion-label>
      </ion-radio-group>
    </div>
  </div>

  <div class="ion-padding-top">
    <div>
      <span class="title-head">SHORT DESCRIPTION</span>
    </div>
    <div>
      <ion-textarea rows="3" class="input-field" formControlName="description" placeholder="What this post is about?"></ion-textarea>
    </div>
  </div>

  <div class="ion-padding-top">
    <div>
      <span class="title-head">SELECT TOPIC</span>
    </div>
    <div>
        <ion-row>
          <ion-col style="display: flex;" *ngFor="let item of topics;">
            <ion-checkbox class="checkbox" name="item" [value]="item.gid" (ionChange)="selectTopics($event, item.gid)"></ion-checkbox>
            <ion-label class="checkbox-label"> {{item.title}}</ion-label>
          </ion-col>
        </ion-row>
    </div>
  </div>

  <div class="ion-padding-top">
    <span class="title-head">SELECT SUB-TOPIC</span>
    <div>
      <ion-row>
        <ion-col style="display: flex;" *ngFor="let item of subTopics" size="4">
          <ion-checkbox class="checkbox" [value]="item.gid" (ionChange)="selectSubTopics($event, item.gid)"></ion-checkbox>
          <ion-label class="checkbox-label"> {{item.title}}</ion-label>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div class="ion-padding-top">
    <div style="padding-bottom: 7px;">
      <span class="title-head">ENTER TAGS</span>
    </div>
    <div>
      <tag-input formControlName="tags" class="input-tags" [onlyFromAutocomplete]="false">
        <tag-input-dropdown [zIndex]="1100"
            [autocompleteItems]="tags"
            [keepOpen]="false"
            [focusFirstElement]="true"
            [showDropdownIfEmpty]="true"
            [dynamicUpdate]="false"
            [limitItemsTo]="5">
        </tag-input-dropdown>
      </tag-input>
    </div>
  </div>

  <div class="ion-padding-top">
    <ion-button color="primary-contrast" expand="block" class="post-button" [routerLink]="['/home/explore']" type="onSubmit">POST CONTENT</ion-button>
  </div>
  </form>
</ion-content>
