<ion-content>
  <div class="container ion-padding">
    <div text-center>
      <span class="form-head">Create Account</span>
    </div>

    <form [formGroup]="user" (ngSubmit)="signup()">
      <div class="ion-margin-top">
        <div>
          <ion-label class="form-label">Email</ion-label>
          <span class="form-phoneLink">Use phone number instead</span>
        </div>

        <div>
          <ion-item class="input-item" color="transparent">
            <ion-input formControlName="firstName" class="input-field" type="text" placeholder="Enter your email address" aria-hidden="true" required></ion-input>
          </ion-item>
        </div>
        <div class="ion-margin-top">
          <ion-label class="form-label">Password</ion-label>
          <div>
            <ion-item class="input-item" color="transparent">
              <ion-input type="{{type}}" class="input-field" formControlName="password" placeholder="Enter your password" required></ion-input>
              <ion-icon *ngIf="!showPass" src="../../assets/icon/password.svg" (click)="showPassword()"></ion-icon>
              <ion-icon *ngIf="showPass" name='eye' (click)="showPassword()"></ion-icon>
            </ion-item>
          </div>
        </div>
      </div>

      <div class="info-content">
        <span>By signing up you agree to the <a>terms & conditions</a> 
          and <a>privacy policy</a></span>
      </div>

    <div class="ion-margin-top">
      <ion-button color="primary-contrast" type="onSubmit" class="continue-btn" expand="block">CONTINUE</ion-button>
    </div>
  </form>
  </div>
</ion-content>
