<ion-content>
  <div class="login-pad" style="margin: 50px 12px 0 12px;">
    <div text-center>
      <span class="form-head">Forgot password</span>
    </div>

    <form (ngSubmit)="onSubmit()">
      <div style="margin-top: 20px">
        <div>
          <div>
            <ion-label class="form-label">Email</ion-label>
            <span class="form-phoneLink">Use phone number instead</span>
          </div>

          <div style="margin-top: 10px;">
            <ion-input class="input-field" type="text" placeholder="Enter your email address" aria-hidden="true" required></ion-input>
          </div>
        </div>
      </div>

      <div style="margin-top: 25px">
        <ion-button color="primary-contrast" type="onSubmit" class="continue-btn" expand="block">CONTINUE</ion-button>
      </div>
    </form>
  </div>
</ion-content>
  