
.explore {
  fill: black;
  stroke: aqua;
}

.active-tab {
  border-top: solid;
  border-top-width: 1px;
}

ion-tab-bar {
  --background: #100d1f;
  ion-label {
    font-size: 16px;
  }

  ion-img {
    height: 17px;
  }
}