ion-content {
  --background: #100D1F;

  ion-list {
    background: transparent;
    ion-item {
      --background: transparent;
    }
  }
}

ion-header {
  text-align: center;
  ion-toolbar {
    --background: #100d1f;
  }
  ion-title {
    font-size: 14px;
  }
}