// .container {
//   margin: 40px 16px 0 16px;
// }

ion-content {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    .form-head {
      height: 5%;
      display: flex;
      align-items: flex-end;
      font-weight: bold;
      span {
        font-family: 'Merriweather';
        font-size: 20px;
      }
    }

    .top-container {
      display: flex;
      align-items: flex-end;
      height: 50%;

      ion-row {
        width: 100%;

        ion-col {
          span {
            font-size: 20px;
          }
        }
      }
  
      ion-img {
        width: 100px;
        margin: auto;
      }
    }
  
    .bottom-container {
      display: flex;
      align-items: flex-end;
      height: 40%;
    }
  } 
}

// .form-head span {
//   font-family: Merriweather;
//   font-size: 20px;
// }

// .image-content{
//   position: absolute;
//   left: 36%;
//   right: 36.05%;
//   top: 31.48%;
//   bottom: 56.52%;
// }

// .container-content {
//   position: absolute;
//   width: 301px;
//   top:290px;
//   left: 37px;
//   text-align: center;
// }

// .container-content span {
//   font-family: Merriweather;
//   font-weight: bold;
//   font-size: 20px;
//   letter-spacing: -0.01em;
// }

.footer-button {
  background: var(--ion-button-primary);
  border-radius: 6px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: -0.01em;
  height: 46px;
  margin: 0px 16px 0px 16px;
}

// .span-content {
//   position: absolute;
//   left: 149px;
//   top: 565px;
//   font-size: 14px;
//   color: rgba(243, 243, 243, 0.8);
// }