<ion-content>
  <div class="container">
    <div class="form-head">
      <span>Notifications</span>
    </div>

    <div>
      <div class="image-content">
        <ion-img src="../../assets/images/notification.png"></ion-img>
      </div>
      <div class="container-content">
        <span>Get notified <br>to the most important updates</span>
      </div>
    </div>
  </div>

  <div class="span-content">
    <span>I’ll do it later</span>
  </div>
</ion-content>

<ion-footer style="bottom: 20px;">
  <ion-button color="primary-contrast" expand="block" class="footer-button" (click)="turnOnNotification()">TURN ON PUSH NOTIFICATIONS</ion-button>
</ion-footer>
